/* Estilos para el cuerpo de la página */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d1a924c5;
}

/* main{

} */

/* Estilos para el encabezado */
.encabezado {
  padding: 0.5px 10%;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  min-width: 100vw;
  background-color: #d69745;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}

.encabezado .logo img {
  max-height: 26px;
  width: auto;
}

/* Estilos para el menú de navegación */

.encabezado .nav-list {
  list-style: none;
}

.encabezado .nav-list li {
  display: inline-block;
  padding: 0 20px;
}

.encabezado .nav-list li:hover {
    transform: scale(1.1);
    background-color: #fabe3d56;
}

.encabezado .nav-list a {
  font-size: 700;
  color: black;
  text-decoration: none;
}

.encabezado .login button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #8f6c0b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
}

.encabezado .login button:hover{
    transform: scale(1.1);
}



/* Estilos para los artículos */
article {
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para los botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

/* Estilos para el pie de página */
.footer1 {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px;
  width: 100vw;
}

.footer1 a {
  color: white;
  margin: 0 10px;
}
